@use '@/assets/styles/variables';

.tooltip {
  position: absolute;
  z-index: 9999;
  transform: translateX(-50%);
  width: max-content;
  white-space: nowrap;
  border-radius: 6px;
  background-color: variables.$green-4;
  opacity: 1;
  pointer-events: none;
  padding: 6px 10px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 6px solid variables.$green-4;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }

  &__wrapper {
    position: relative;
    cursor: help;
  }
}
