@use '@/assets/styles/variables';

.user-details {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &--two-columns {
    grid-column: span 2;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    &--two-columns {
      grid-template-columns: 1fr 1fr;
      gap: 20px 32px;
    }
  }

  &__toggle {
    align-self: center;
  }
}
