.confirm-password-reset-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    line-height: 1.4;
  }

  &__sub-title {
    font-weight: 600;
  }

  &__inline-button {
    display: inline-flex;
  }
}
