@use '@/assets/styles/variables';

.column {
  display: flex;
  flex-direction: column;
  flex: 0 0 224px;
  max-height: 600px;
  border-radius: 12px;

  &:has(.column__tasks) {
    .column__header {
      border-radius: 12px 12px 0 0;
    }
  }

  &__header {
    flex-shrink: 0;
    padding: 0 8px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$gray-1;
    border-radius: 12px;
  }

  &__tasks {
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 8px 12px;
    background-color: variables.$gray-1;
    border-radius: 0 0 12px 12px;
    scrollbar-width: thin;
    scrollbar-color: variables.$gray-14 transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #888;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__title {
    width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    padding: 7px 4px;
    font-weight: 600;
    font-size: 14px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: variables.$white-2;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;

    &--drag {
      cursor: grab;
    }
  }

  &__tasks-number {
    font-weight: 500;
    font-size: 14px;
    color: variables.$gray-7;
  }
}
