@use '@/assets/styles/variables';

.user-details-item {
  &--skill {
    list-style: inside;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;

    &--gray {
      color: variables.$gray-6;
      font-weight: 400;
    }
  }

  &__education {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__link {
    color: variables.$black-2;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    text-decoration: underline;
  }

  &__social {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__no-icon {
    width: 20px;
    height: 20px;
  }
}
