@use '@/assets/styles/variables';

.user-base-info {
  display: flex;
  gap: 32px;
  align-items: center;

  &__image {
    border-radius: 70px;
    box-shadow: 0 0 0 4px variables.$green-4;
  }

  &__user-name {
    font-family: variables.$montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__role {
    font-size: 20px;
    line-height: 1.4;
  }
}
