@use '@/assets/styles/variables';
@use 'sass:meta';

@layer default, primereact, component, override;

@layer default {
  @include meta.load-css('@/assets/styles/reset');
  @include meta.load-css('@/assets/styles/fonts');
}

html,
body {
  height: 100%;
  font-family: variables.$inter;
  color: variables.$black-2;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
