@use '@/assets/styles/variables';

.auth-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 12px 0;
  width: 100%;
  align-items: stretch;

  &__brackets {
    position: relative;
  }

  &__routes-wrapper {
    border-radius: 32px;
    padding: 80px;
    background-color: variables.$gray-1;
  }
}
