@use '@/assets/styles/variables';

.profile-details {
  display: flex;
  align-items: flex-start;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
  }

  &__empty {
    background-color: variables.$gray-1;
    border-radius: 32px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 32px;
  }

  &__toggle {
    align-self: center;
  }
}
