@use '@/assets/styles/variables';

.locale-switcher {
  display: flex;
  align-items: center;

  &__language {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__divider {
    border-right: 1px solid variables.$gray-7;
    height: 12px;
    width: 0;
  }

  &__dropdown {
    position: relative;
  }

  &__button {
    color: variables.$green-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    padding: 0 0 0 12px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    height: 44px;
    box-sizing: border-box;
    cursor: default;
    width: 64px;

    &:hover {
      color: variables.$green-2;
      cursor: default;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__list {
    position: absolute;
    background-color: variables.$white-2;
    left: 0;
    width: 100%;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid variables.$green-2;
    z-index: 10;
    padding: 12px;
  }

  &__item {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    cursor: default;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:hover {
      cursor: default;
    }

    &--selected {
      color: variables.$green-1;
    }
  }
}
