@use '@/assets/styles/variables';

.what-we-need {
  position: sticky;
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 40px 0;

  &__wrapper {
    position: relative;
  }

  &__header {
    font-family: variables.$montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    max-width: 428px;
  }

  &__container {
    height: 972px;
    background-image: url("../../../../../public/images/pagination.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 87%;
  }

  &__item {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item-content {
    flex: 1 1 50%;
    padding: 0 86px;

    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }
}
