.request-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 584px;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
