@use '@/assets/styles/variables';

.column-menu {
  position: relative;

  &__menu {
    position: absolute;
    top: 24px;
    right: -32px;
    border-radius: 16px;
    border: 2px solid variables.$gray-1;
    display: flex;
    flex-direction: column;
    background-color: variables.$white-2;
  }

  &__item {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    background-color: variables.$white-2;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: start;

    &:hover {
      background-color: variables.$gray-5;
    }

    &:active {
      background-color: variables.$white-2;
      color: variables.$green-1;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: variables.$white-2;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
}
