.task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
