@use '@/assets/styles/variables';

.reject-invite-popup {
  border-radius: 32px;
  padding: 80px 40px;
  background-color: variables.$gray-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 790px;
  width: 100%;

  &__wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white-1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    &--green {
      color: variables.$green-2;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
  }
}
