@use '@/assets/styles/variables';

.dropdown {
  position: relative;
  min-width: 0;

  &__label {
    display: block;
    color: variables.$gray-10;
    user-select: none;
  }

  &__error {
    height: 17px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.2;
    color: variables.$red-2;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: variables.$white-2;
    border: 1px solid variables.$gray-8;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    height: 42px;
    box-sizing: border-box;
    cursor: default;
    width: 100%;

    &:focus {
      border-color: variables.$green-6;
      box-shadow: 0 0 0 4px variables.$green-4;
    }

    &--invalid {
      border: 1px solid variables.$red-8;

      &:focus {
        border-color: variables.$red-8;
        box-shadow: 0 0 0 4px variables.$red-3;
      }
    }
  }

  &__placeholder {
    color: variables.$gray-4;
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: start;
  }

  &__selected {
    color: variables.$black-2;
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: start;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__item {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.2;
    cursor: default;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:hover {
      background-color: variables.$gray-5;
    }

    &--disabled {
      color: variables.$gray-3;

      &:hover {
        background-color: variables.$white-2;
      }
    }
  }

  &__list {
    position: absolute;
    background-color: variables.$white-2;
    left: 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid variables.$gray-8;
    z-index: 10;
    max-height: 205px;

    &:has(li:nth-child(6)) {
      overflow-y: scroll;
      border-radius: 8px 0 0 8px;
    }
  }
}
