.projects-filters-form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 32px;
    align-items: end;
  }

  &__fieldset {
    width: 100%;
    min-width: 0;
  }
}
