@use '@/assets/styles/variables';

.cancel-password-popup {
  border-radius: 32px;
  padding: 80px;
  background-color: variables.$gray-1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  max-width: 790px;

  &__title {
    font-size: 32px;
    font-weight: 590;
    line-height: 1.2;
  }

  &__wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white-1;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
