@use '@/assets/styles/variables';

.social-invite-popup {
  border-radius: 32px;
  padding: 80px 40px;
  background-color: variables.$gray-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 790px;
  width: 100%;
  position: relative;

  &__wrapper {
    background-color: variables.$white-1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
  }

  &__close {
    position: absolute;
    top: -24px;
    right: -24px;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 555px;
    width: 100%;
    padding-bottom: 37px;
  }

  &__input {
    width: 100%;
  }

  &__social-buttons {
    display: flex;
    gap: 24px;
  }
}
