.education-form  {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 40px;

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20px;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
