.invite-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 378px;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
