@use '@/assets/styles/variables';

.participations-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &__col-first {
    width: 100px;
  }

  &__col-auto {
    width: auto;
  }

  &__cell {
    padding: 12px;
    font-weight: 600;
    line-height: 1.4;

    &--header {
      background-color: variables.$green-5;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;

      &:first-child {
        border-top-left-radius: 16px;
      }

      &:last-child {
        border-top-right-radius: 16px;
      }
    }

    &--body {
      background-color: variables.$white-2;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;

      &:nth-child(2) {
        text-align: start;
      }
    }
  }

  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid variables.$gray-11;
    }

    &:last-child {
      & .participations-table__cell--body {
        &:first-child {
          border-bottom-left-radius: 16px;
        }

        &:last-child {
          border-bottom-right-radius: 16px;
        }
      }
    }
  }

  &__link {
    color: variables.$black-2;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
