@use '@/assets/styles/variables';

.password-strength {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
    margin-bottom: 17px;

  &__describe {
    font-size: 12px;
    text-align: end;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    flex: 1;
    height: 6px;
    border-radius: 2px;
    background-color: variables.$gray-8;

    &--weak {
      background-color: variables.$red-2;
    }

    &--medium {
      background-color: variables.$yellow-1;
    }

    &--strong {
      background-color: variables.$green-2;
    }
  }
}
