@use '@/assets/styles/variables';

.profile-action {
  display: flex;
  align-items: center;
  background-color: variables.$gray-1;
  border-radius: 32px;

  &:has(:only-child) {
    justify-content: center;
  }

  &:has(:nth-child(2)) {
    justify-content: space-between;
    gap: 10px;
    padding: 40px;
  }

  &__description {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
  }
}
