@use '@/assets/styles/variables';

.discord-banner {
  position: relative;
  width: 584px;
  padding: 40px;
  border-radius: 32px;
  border: 4px solid variables.$green-1;
  box-shadow: 0 0 20px 0 variables.$green-2;
  background-color: variables.$white-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &--base {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
  }

  &__wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white-1;
  }

  &__text {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__actions {
    display: flex;
    gap: 16px;
  }
}
