<p>Привіт!</p>
<p>Вітаємо на платформі JunChirp! Щоб завершити реєстрацію, просто натисни на посилання нижче для підтвердження твоєї електронної пошти:</p>
<p>{{ url }}</p>
<p>Це посилання дійсне протягом 24 годин. Якщо ти не запитував реєстрацію або виникли проблеми з його використанням, будь ласка, звернись до нашої підтримки.</p>
<p>Дякуємо за реєстрацію! Ми раді бачити тебе в нашій спільноті.</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
