<p>Hello!</p>
<p>Welcome to the JunChirp platform! To complete your registration, simply click the link below to confirm your email address:</p>
<p>{{ url }}</p>
<p>This link is valid for 24 hours. If you did not request registration or if you experience any issues using the link, please contact our support team.</p>
<p>Thank you for registering! We’re happy to have you as part of our community.</p>
<p>Best regards,</p>
<p>The JunChirp Team</p>
