<p>Hi!</p>
<p>You’ve received a request to join your project {{ projectName }} for the role of {{ roleName }}. To view the applicant’s profile, please follow the link below:</p>
<p>{{ url }}</p>
<p>Thank you for helping grow projects on our platform!</p>
<p>Best regards,</p>
<p>The JunChirp Team</p>
