<p>Hi!</p>
<p>You have been invited to join the project [{{ projectName }}] for the role of [{{ roleName }}]. To view the project details and accept or decline the invitation, please follow the link below:</p>
<p>{{ url }}</p>
<p>Thank you for your interest in projects on our platform!</p>
<p>Best regards,</p>
<p>The JunChirp Team</p>
