<p>Привіт!</p>
<p>Тобі надіслали запит на участь у твоєму проєкті {{ request.projectRole.project.projectName }} в ролі {{ request.projectRole.roleType.roleName }}. Щоб ознайомитись з профілем учасника, перейди за посиланням нижче:</p>
<p>{{ url }}</p>
<p>Дякуємо, що допомагаєш розвивати проєкти на нашій платформі!</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
