<p>Привіт!</p>
<p>Тебе запросили приєднатися до проєкту {{ invite.projectRole.project.projectName }} як {{ invite.projectRole.roleType.roleName }}. Щоб ознайомитись з деталями, перейди за посиланням на картку проєкту нижче:</p>
<p>{{ url }}</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
