<p>Привіт!</p>
<p>Тобі надіслали запит на участь у твоєму проєкті {{ projectName }} в ролі {{ roleName }}. Щоб ознайомитись з профілем учасника, перейди за посиланням нижче:</p>
<p>{{ url }}</p>
<p>Дякуємо, що допомагаєш розвивати проєкти на нашій платформі!</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
