<p>Привіт!</p>
<p>Тебе запросили приєднатися до проєкту {{ projectName }} як {{ roleName }}. Щоб ознайомитись з деталями, перейди за посиланням на картку проєкту нижче:</p>
<p>{{ url }}</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
