<p>Привіт!</p>
<p>Тобі надіслано запрошення приєднатися до проєкту [{{ projectName }}] на роль [{{ roleName }}]. Щоб ознайомитися з деталями проєкту та підтвердити або відхилити участь, перейди за посиланням нижче:</p>
<p>{{ url }}</p>
<p>Дякуємо, що цікавишся проєктами на нашій платформі!</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
