<p>Привіт!</p>
<p>Ти запитував відновлення паролю на платформі JunChirp. Щоб відновити доступ до свого акаунту, натисни на посилання нижче:</p>
<p>{{ url }}</p>
<p>Це посилання буде дійсним протягом 24 годин. Якщо ти не запитував відновлення паролю або є проблеми з доступом, звернись до нашої підтримки.</p>
<p>Дякуємо за користування нашою платформою!</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
