<p>Hi!</p>
<p>You requested a password reset on the JunChirp platform. To restore access to your account, please click the link below:</p>
<p>{{ url }}</p>
<p>This link will be valid for 24 hours. If you did not request a password reset or are experiencing issues with access, please contact our support team.</p>
<p>Thank you for using our platform!</p>
<p>Best regards,</p>
<p>The JunChirp Team</p>
