<p>Привіт!</p>
<p>Ми отримали твій запит і вже працюємо над його вирішенням. Дякуємо, що звернувся до нас!</p>
<p>Твій запит зареєстровано в нашій системі під унікальним номером: {{ request.id }}</p>
<p>Наші спеціалісти перевірять твою проблему і відповімо якнайшвидше. Якщо тобі потрібно додати ще якусь інформацію, не соромся написати нам.</p>
<p>Дякуємо за терпіння!</p>
<p>З найкращими побажаннями,</p>
<p>Команда JunChirp!</p>
