@use '@/assets/styles/variables';

.multi-select-with-chips {
  position: relative;
  min-width: 0;

  &__label {
    display: block;
    color: variables.$gray-10;
    user-select: none;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$white-2;
    border: 1px solid variables.$gray-8;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    min-height: 42px;
    box-sizing: border-box;
    cursor: default;
    width: 100%;

    &:focus,
    &--focused {
      border-color: variables.$green-6;
      box-shadow: 0 0 0 4px variables.$green-4;
    }

    &--invalid {
      border: 1px solid variables.$red-8;

      &:focus,
      &.multi-select-with-chips__button--focused {
        border-color: variables.$red-8;
        box-shadow: 0 0 0 4px variables.$red-3;
      }
    }
  }

  &__selected {
    color: variables.$black-2;
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: start;
  }

  &__list {
    position: absolute;
    background-color: variables.$white-2;
    left: 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid variables.$gray-8;
    z-index: 10;
    max-height: 205px;

    &:has(li:nth-child(6)) {
      overflow-y: scroll;
      border-radius: 8px 0 0 8px;
    }
  }

  &__item {
    padding: 12px 16px;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:hover {
      background-color: variables.$gray-5;

      & .multi-select-with-chips__checkbox-icon {
        color: variables.$green-2;
      }
    }

    &:active {
      & .multi-select-with-chips__checkbox-icon {
        box-shadow: 0 0 0 4px variables.$green-4;
        color: variables.$green-2;
      }
    }

    &--selected {
      background-color: variables.$gray-5;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-label {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__checkbox-label-text {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    cursor: default;
  }

  &__checkbox-icon {
    border-radius: 4px;
    height: 16px;
    width: 16px;
    color: variables.$gray-14;
  }

  &__placeholder {
    color: variables.$gray-4;
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: start;
  }

  &__error {
    height: 12px;
    margin: 4px 0;
    font-size: 12px;
    color: variables.$red-2;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__chip {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: variables.$gray-8;
    border-radius: 14px;
    padding: 2px 8px;
  }

  &__chip-label {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
  }
}
