@use '@/assets/styles/variables';

.block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

@keyframes fadeInOut {
  0%, 40%   { opacity: 1; }
  50%, 90%  { opacity: 0; }
  100%      { opacity: 1; }
}

@keyframes fadeOutIn {
  0%, 40%   { opacity: 0; }
  50%, 90%  { opacity: 1; }
  100%      { opacity: 0; }
}

@keyframes scrollInOut {
  0%, 40%   { background-color: variables.$green-2; }
  50%, 90%  { background-color: variables.$gray-1; }
  100%      { background-color: variables.$green-2; }
}

@keyframes scrollOutIn {
  0%, 40%   { background-color: variables.$gray-1; }
  50%, 90%  { background-color: variables.$green-2; }
  100%      { background-color: variables.$gray-1; }
}

.next-level {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 64px;
  padding: 40px;

  &__header {
    font-family: variables.$montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    max-width: 387px;
    align-self: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch ;
    gap: 24px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
  }

  &__new-opportunities {
    padding: 22px 40px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
    border-radius: 32px;
    min-width: 0;
    width: 100%;
  }

  &__green-text {
    color: variables.$green-2;
  }

  &__arrow {
    grid-row: 2;
    grid-column: 1;
    background-color: variables.$gray-1;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__right-block {
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: variables.$gray-1;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0;
    width: 100%;
  }

  &__dashboard {
    @extend .block;
    animation: fadeInOut 8s ease-in-out infinite;
  }

  &__grow-playing {
    @extend .block;
    animation: fadeOutIn 8s ease-in-out infinite;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
    color: variables.$green-2;
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }

  &__slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .slider-item {
    height: 8px;
    border-radius: 4px;
    background-color: variables.$gray-1;
  }

  &__slider-item-1 {
    @extend .slider-item;
    animation: scrollInOut 8s ease-in-out infinite;
  }

  &__slider-item-2 {
    @extend .slider-item;
    animation: scrollOutIn 8s ease-in-out infinite;
  }
}
