.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
