@use '@/assets/styles/variables';

.project-card {
  padding: 40px;
  border-radius: 32px;
  background-color: variables.$gray-5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
  min-width: 0;

  &__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }

  &__image-wrapper {
    position: relative;
    width: 180px;
    border-radius: 12px;

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: variables.$gray-3;
      min-width: 180px;
      height: 180px;
    }
  }

  &__image {
    height: auto;
    border-radius: 12px;
  }

  &__header {
    display: flex;
    gap: 20px;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__status {
    align-self: flex-end;
    border-radius: 4px;
    padding: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: variables.$white-2;

    &--active {
      background-color: variables.$green-2;
    }

    &--done {
      background-color: variables.$gray-4;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
  }

  &__description {
    font-size: 16px;
    line-height: 1.4;
  }

  &__category {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
  }
}
