.support-form {
  width: 100%;
  max-width: 584px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &:has(:nth-child(2)) {
      justify-content: space-between;

      & .support-form__button {
        position: relative;
        bottom: 2px;
      }
    }
  }

  &__fieldset {
    width: 100%;
  }
}
