@use '@/assets/styles/variables';

.data-container {
  border-radius: 32px;
  padding: 40px;
  background-color: variables.$gray-1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
  }

  &__border {
    height: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: variables.$green-2;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    font-size: 16px;
    line-height: 1.4;
  }

  &__total {
    color: variables.$gray-4;
  }
}
