@use '@/assets/styles/variables';

.confirm-email {
  padding: 40px;

  &__inner {
    border-radius: 32px;
    padding: 80px 40px;
    background-color: variables.$gray-1;
    display: flex;
    justify-content: space-between;
  }
}
