@use '@/assets/styles/variables';

.users-list-skeleton {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  &__item {
    border-radius: 32px;
    background-color: variables.$gray-1;
    height: 288px;
    position: relative;
    animation: pulse 1.2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
