@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src:
    local('Montserrat'), url('../../../public/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src:
    local('Inter'), url('../../../public/fonts/Inter.ttf');
}
